# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment and config
.env
*.yml
*.yaml
*.properties

# IDEs
.idea/
.vscode/
*.iml

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db
